@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass-panel {
    @apply bg-black/40 backdrop-blur-md border border-white/10;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-primary;
  }
}
